<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="bootstrap-integration.php"
    colors="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
>
    <testsuites>
        <testsuite name="integration">
            <directory suffix="Test.php">./integration</directory>
        </testsuite>
    </testsuites>
</phpunit>
